.star {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64;
}

.jokes-list ul li {
    background-color: #ffffff;
    list-style: none;
    padding: 1.1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #f4f2f2;
    border-right: 1px solid #f4f2f2;
    display: flex;
    justify-content: space-between;
    min-height: 2.1rem;
}

.jokes-list ul li span {
    margin-right: 5rem;
}

.jokes-list ul li button {
    background-color: transparent;
    border: none;
    float: right;
    outline: none;
    cursor: pointer;
}