* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: hsl(343, 82%, 55%);
}

.container {
    max-width: 100rem;
    margin: 8rem auto 0rem auto;
}

.content {
    background-color: #faf9f9;
    padding: 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/**

 HEADER

*/

.header {
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    border-bottom: 1px solid #f4f2f2;
    border-right: 1px solid #f4f2f2;
}

.logo {
    height: 5.5rem;
    margin-left: 0.5rem;
}

/**

    JOKES LIST

*/

h2 {
    margin-top: 1.5rem;
    margin-left: .8rem;
}

.star {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64;
}

.jokes-list {
    min-height: 60rem;
}

.jokes-list ul li {
    background-color: #ffffff;
    list-style: none;
    padding: 1.1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #f4f2f2;
    border-right: 1px solid #f4f2f2;
    display: flex;
    justify-content: space-between;
    
}

.jokes-list ul li span {
    margin-right: 5rem;
}

.jokes-list ul li button {
    background-color: transparent;
    border: none;
    float: right;
    outline: none;
    cursor: pointer;
}


/**
    Footer
*/


.footer {
    display: flex;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0rem auto 0rem auto;
    
}

/**

    Tabs
*/

.tab {
    
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin-right: .5rem;
}

.tab a {
    color: #fff;
    background-color: #777;

    text-decoration: none;
    padding: 1.2rem;
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.tab a:hover {
    color: #333;
    background-color: #faf9f9;
}

.tab .active {
    color: #333;
    background-color: #faf9f9;

    text-decoration: none;
    padding: 1.2rem;
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


/**
    Buttons
*/

.button {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    position: relative;
    margin-left: .5rem;
}

.button a {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 1.2rem;
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button a:hover {
    background-color: #777;
}

.button input {
    position: absolute;
    opacity: 0;
}

.button label {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button label:hover {
    background-color: #777;
}

.button span {
    display: block;
    padding: 1.2rem;
    cursor: pointer;
}

.button input:checked + span {
    background-color: #00C853;
}